$color-body-background: #EEEEEE
$color-main: #212121
$color-main-lighten: #BDBDBD

$color-text: #FFFFFF
$color-text-darken: #757575

$font-base: 'Roboto', sans-serif
$font-weight: 300
$font-weight-bold: 700
$font-size-base: 16px
