@import "_functions"
@import "_var"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	color: #333
	font-family: $font-base
	font-size: $font-size-base
	line-height: em(24px, $font-size-base)
	min-width: 320px
	overflow-x: hidden
	position: relative

.hidden
	display: none

// Custom styles here
h1, h2, h3
	text-transform: uppercase
	font-weight: $font-weight-bold

h1, h2
	font-size: em(30px, $font-size-base)


body
	background: $color-body-background
	color: $color-main
	font-weight: $font-weight

strong
	font-weight: $font-weight-bold


.translations
	z-index: 2
	position: absolute
	top: 0
	right: 0
	margin: 10px 15px

	li
		display: inline-block
		cursor: pointer
		padding: 3px 5px


header.introduction
	color: $color-text
	background: url("/img/background.jpg") center 100%/cover no-repeat

	.container > .row
		position: relative // For .translations
		min-height: 100vh

	strong:after
		content: " "

	h2
		font-size: em(36px, $font-size-base)
		margin: 0
		padding: 0
		background: none

	hr
		background: $color-text
		height: 2px
		margin: 0

	a
		color: $color-text

	.info > ul
		padding: 0
		margin: 20px 0 0 0
		list-style: none

	.about-me
		text-align: right
		margin-bottom: 20px

		p
			margin: 0
			margin-top: 20px

	.portrait
		border: 2px solid $color-text
		text-align: center
		text-transform: uppercase

		img
			height: 355px
			width: 355px
			margin: 45px
			object-fit: cover

		.name
			margin: 0
			margin-top: -16px

		.occupation
			margin: 0
			margin-bottom: 45px


.text-align-to-right
	text-align: right

.container-with-no-padding
	padding-left: 0
	padding-right: 0

.padding-50-on-top
	padding-top: 50px


h2
	background: $color-main
	color: $color-body-background
	display: inline-block
	padding: 3px 10px
	margin-bottom: 10px


.languages-container
	margin-top: 6px
	.language
		text-transform: uppercase
		text-align: center
		margin-bottom: 10px

		.lang
			color: $color-main
			font-weight: $font-weight-bold
		.lang-progress
			color: $color-text-darken
			font-weight: $font-weight-bold


.education-container
	margin-top: 6px
	ul.school
		text-transform: uppercase
		padding: 0
		list-style: none

		.date
			font-weight: $font-weight-bold
			color: $color-main

		.name
			color: $color-main

		.place
			font-weight: $font-weight-bold
			color: $color-text-darken

.skills-block
	.skills-table:last-child
		margin-bottom: 20px

	.skills-table
		margin-top: 16px
		width: 66%

		td:first-child, td:last-child
			width: 50%
			line-height: 20px


		.skill
			text-transform: uppercase

		.rating-list
			margin: 0
			padding: 0

			.rating
				display: inline-block
				width: 12px
				height: 12px
				background: $color-main-lighten
				padding: 0
				margin: 0
				margin-right: 6px;

			.rating.active
				background: $color-main


.interests-block
	.custom-flex
		margin-top: 20px
		display: flex
		flex-direction: row-reverse

	.interests-list
		display: flex
		width: 100%
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between

		margin: 0
		padding: 0

		.item:first-child
			align-self: flex-start

		.item
			float: left
			// margin-left: 9px
			padding: 0
			list-style: none

			.item-container
				.image-container
					display: flex
					justify-content: center

					width: 128px
					height: 128px
					background: $color-main

					.image
						align-self: center
						width: 100px
						height: 100px

				.title
					font-weight: $font-weight-bold
					text-transform: uppercase
					text-align: center


.projects-row
	margin-top: 20px

.project-container
	.image-container
		margin-bottom: 6px
	.title
		font-weight: $font-weight-bold
		text-transform: uppercase
		text-align: center

.footer-container
	background: $color-main
	margin-top: 20px

	.text
		color: $color-text
		text-transform: uppercase
		text-align: center

		margin: 20px 0
		font-size: em(12px, $font-size-base)

		a
			color: $color-text
			font-weight: $font-weight-bold



//ALWAYS END
@import "_media.sass"
