header.introduction
	.container
		.row.align-items-center
			.col-md-5
				section.portrait
					a(href="./img/my_photo.jpg", data-fancybox='gallery')
						img(src="./img/my_photo.jpg")
					.description
						h1.name Denis Covaliuc
						p.occupation Student

			.col-md-1
			.col-md-6
				section.description
					article.about-me
						h2 About me
						p I’m 18, live in Moldova, I want to become a fullstack web-developer. My favorite language is Python. Also now I wanna be a front-end developer...

					hr

					article.info
						ul.overall-info
							li
								strong Date of birth:
								="14/10/1999"
							li
								strong Country:
								="Moldova"

						ul.other-info
							li
								strong VK:
								a(href="https://vk.com/powerslime", target="_blank") @powerslime
							li
								strong Telegram:
								a(href="https://t.me/powerslime", target="_blank") @powerslime
							li
								strong GitHub:
								a(href="https://github.com/PowerSlime", target="_blank") @powerslime
							li
								strong E-Mail:
								a(href="mailto:powerslime@ya.ru") powerslime@ya.ru
