header.introduction
	.container
		.row.align-items-center
			ul.translations
				li EN
				li RU
				li RO
			.col-md-5
				section.portrait
					a(href="./img/my_photo.jpg", data-fancybox='gallery')
						img(src="./img/my_photo.jpg")
					.description
						h1.name Denis Covaliuc
						p(data-translate-id="about-me-occupation").occupation

			.col-md-1
			.col-md-6
				section.description
					article.about-me
						h2(data-translate-id="about-me-header")
						p(data-translate-id="about-me-description")

					hr

					article.info
						ul.overall-info
							li
								strong(data-translate-id="about-me-date")
								="14/10/1999"
							li
								strong(data-translate-id="about-me-country")
								="Moldova"

						ul.other-info
							li
								strong VK:
								a(href="https://vk.com/powerslime", target="_blank") @powerslime
							li
								strong Telegram:
								a(href="https://t.me/powerslime", target="_blank") @powerslime
							li
								strong GitHub:
								a(href="https://github.com/PowerSlime", target="_blank") @powerslime
