.container.padding-50-on-top
	.row
		.col-md-6.languages-block
			h2 Languages
			section.container.languages-container.container-with-no-padding
				.row
					.col-md-3
						.language
							.lang English
							.lang-progress 3/5

					.col-md-3
						.language
							.lang Romanian
							.lang-progress 3/5

					.col-md-3
						.language
							.lang Russian
							.lang-progress 5/5
				.row
					.col
						article
							p.
								Russian is my native language. English is “language of work”, also I like it so
								much. Romanian a bit harder for me than English, only because I don’t use
								it so much as English...
							p.
								Wanna know English as good as Russian. It will give me a possibility to speak
								easier with other people.

		.col-md-6.education-block.text-align-to-right
			h2 Education
			section.container.education-container.container-with-no-padding
				.row
					.col
						article
							ul.school
								li.date 01/09/2015
								li.name Colegiul Politehnic
								li.place Balti, Moldova

							ul.school
								li.date 01/09/2006 - 31/05/2015
								li.name Liceum A. S. Puskin
								li.place Falesti, Moldova
