.container.padding-50-on-top
	.row
		.col-md-6.languages-block
			h2(data-translate-id="language-header")
			section.container.languages-container.container-with-no-padding
				.row
					+add_language('English', '3/5', 'language-en')
					+add_language('Romanian', '3/5', 'language-ro')
					+add_language('Russian', '5/5', 'language-ru')

				.row
					.col
						article
							p(data-translate-id="language-first-part")
							p(data-translate-id="language-second-part")

		.col-md-6.education-block.text-align-to-right
			h2(data-translate-id="education-header")
			section.container.education-container.container-with-no-padding
				.row
					.col
						article
							ul.school
								li.date 01/09/2015
								li.name Colegiul Politehnic
								li.place Balti, Moldova

							ul.school
								li.date 01/09/2006 - 31/05/2015
								li.name Liceum A. S. Puskin
								li.place Falesti, Moldova
