.container.padding-50-on-top
	.row
		.col-md-6.languages-block
			h2 Languages
			section.container.languages-container.container-with-no-padding
				.row
					+add_language('English', '3/5')
					+add_language('Romanian', '3/5')
					+add_language('Russian', '5/5')

				.row
					.col
						article
							p.
								Russian is my native language. English is “language of work”, also I like it so
								much. Romanian for me is a bit harder than English, only because I don’t use
								it so much...
							p.
								I want to know English as good as Russian. It will give me a possibility to speak
								easier with other people.

		.col-md-6.education-block.text-align-to-right
			h2 Education
			section.container.education-container.container-with-no-padding
				.row
					.col
						article
							ul.school
								li.date 01/09/2015
								li.name Colegiul Politehnic
								li.place Balti, Moldova

							ul.school
								li.date 01/09/2006 - 31/05/2015
								li.name Liceum A. S. Puskin
								li.place Falesti, Moldova
