.container.padding-50-on-top
	.row.justify-content-center
		h2 Projects

	.row.projects-row
		.col-md-4
			+add_project('Sample one', '#', 'https://placehold.it/1920x1080')
		.col-md-4
			+add_project('Sample two', '#', 'https://placehold.it/1920x1080')
		.col-md-4
			+add_project('Sample three', '#', 'https://placehold.it/1920x1080')
