.container.padding-50-on-top
	.row.justify-content-center
		h2(data-translate-id="projects-header")

	.row.projects-row.justify-content-center
		.col-md-4
			+add_project('[Python] DeerIO API', '//github.com/PowerSlime/python-deer-io-api', './img/PyDeerIO.jpg', 'project-python-deerio')
		.col-md-4
			+add_project('[React] DeerIO Enchanted', '//powerslime.github.io/deer/', './img/DeerIO.jpg', 'project-deerio')
		.col-md-4
			+add_project('Magic of Gods Landing', '//play.magicofgods.ru/', './img/play.magicofgods.jpg', 'project-magicofgods')
		.col-md-4
			+add_project('Artist template', '//powerslime.github.io/template_mihaela_dreglea_art/', './img/artist_template.jpg', 'project-artist')
		.col-md-4
			+add_project('Starter template', '//github.com/PowerSlime/starter_template', './img/starter_template.jpg', 'project-starter-template')
		.col-md-4
			+add_project('This page', '//github.com/PowerSlime/powerslime.github.io', './img/powerslime.github.io.jpg', 'project-this')
