.container.padding-50-on-top
	.row.justify-content-center
		h2 Projects

	.row.projects-row
		.col-md-4
			+add_project('Artist template', '//powerslime.github.io/template_mihaela_dreglea_art/', './img/artist_template.jpg')
		.col-md-4
			+add_project('Starter template', '//github.com/PowerSlime/starter_template', './img/starter_template.jpg')
		.col-md-4
			+add_project('This page', '//powerslime.github.io', './img/powerslime.github.io.jpg')
