include ./jade/mixins.jade

doctype html
html(lang="EN")
	head
		block title
			title Denis Covaliuc - Front-end Developer

		block head_meta
			include ./jade/head_meta.jade

		block head_custom_css
			link(rel="stylesheet", href="./css/main.min.css")


	body
		header.introduction
			.container
				.row.align-items-center
					.col-md-5
						section.portrait
							img(src="./img/my_photo.jpg")
							.description
								h1.name Denis Covaliuc
								p.occupation Front-End Developer

					.col-md-1
					.col-md-6
						section.description
							article.about-me
								h2 About me
								p I’m 18, live in Moldova, wanna become a fullstack web-developer. I’m studying now. My favorite language is Python. Also now I wanna be a front-end developer...

							hr

							article.info
								ul.overall-info
									li
										strong Date of birth:
										="14/10/1999"
									li
										strong Country:
										="Moldova"

								ul.other-info
									li
										strong VK:
										a(href="#", target="_blank") @powerslime
									li
										strong Telegram:
										a(href="#", target="_blank") @powerslime
									li
										strong GitHub:
										a(href="#", target="_blank") @powerslime
									li
										strong E-Mail:
										a(href="#", target="_blank") powerslime@ya.ru

		include ./jade/scripts.jade
		include ./jade/ie_fix.jade
